*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/build/
/docs/Manifest.toml
/docs/src/generated/
/docs/LocalPreferences.toml

/src/tryout.jl
/src/MWE_vccb.jl
/src/test_new.txt
/src/test_old.txt
.username
*scratch*

/scripts/cluster/cluster_only
/scripts/cluster/WS_experiments/WS_pipeline_tryout.jl
