*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/build/
/docs/Manifest.toml
/docs/src/generated/
/docs/LocalPreferences.toml

/src/tryout.jl
/src/MWE_vccb.jl
/src/test_new.txt
/src/test_old.txt
.username
*scratch*

/scripts/cluster/cluster_only
/scripts/cluster/WS_experiments/WS_pipeline_tryout.jl
/scripts/cluster/WS_experiments/WS_testrun_20231228_205258.931
/scripts/cluster/WS_experiments/WS_testrun_20231228_205409.149
/scripts/cluster/WS_experiments/WS_testrun_20231228_210048.421
/scripts/cluster/WS_experiments/WS_testrun_N_G=100_20231228_210639.779
/scripts/cluster/WS_experiments/WS_testrun_N_G=100_20231228_214534.819
/scripts/cluster/WS_experiments/WS_testrun_N_G=100_heute
